button {
  display: flex;
  gap: 5px;
  padding: 10px 20px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background-color: var(--terciary);
  color: var(--text-on-secondary);
  cursor: pointer;
  font-weight: 600;
}

button:disabled {
  background: none;
  border: 2px solid var(--text-on-secondary);
  cursor: not-allowed;
}