/* PRODUCT TYPE */

.product-type-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;  
}

.product-type-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-type-image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* BUTTONS */

.buttons-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 620px) {
  .product-type-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: px;
    grid-row-gap: 40px;
  }
}