/* FORM CONTROL */

.form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  max-width: 400px;
}

/* SEARCH FORM */

.search-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-end;
}