main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 110px);
  background-color: var(--background);
}

.main-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 40px 30px;
  flex-direction: column;
  gap: 40px;
}