:root {
  --primary: #53c3da;
  --secondary: #ffe4bd;
  --terciary: #deed6b;
  --background: rgb(244, 255, 254);
  --surface: #ffffff;
  --text-on-primary: #ffffff;
  --text-on-secondary: #436e78;
  --primary-text: #060b14;
  --secondary-text: #ffffff;
  --terciary-text: #5e6c84;
  --link-text: #0079bf;
}